{{ title or "Your Name" }}
    


    
        Home |
        Bio |
        Writings |
        Books |
        Investments |
        Links
    
    
    
        {{ content | safe }}
    
    
    
        &copy; {{ year or 2025 }} Darpan Choudhary