---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Darpan Choudhary - Writings</title>
  <link href="https://darpanchoudhary.com/feed.xml" rel="self"/>
  <link href="https://darpanchoudhary.com/"/>
  <updated>{{ collections.writings[collections.writings.length - 1].date | rssDate }}</updated>
  <id>https://darpanchoudhary.com/</id>
  <author>
    <name>Darpan Choudhary</name>
  </author>
  {% for post in collections.writings | reverse %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="https://darpanchoudhary.com{{ post.url }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>https://darpanchoudhary.com{{ post.url }}</id>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>